*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   
  background-image: linear-gradient(180deg, rgba(254,214,227,1) 0%, rgba(90,129,127,1) 99%);


}

h1{

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color:#e28056;

}

.header{
  text-align: center;
  margin-top: 50px;
}

.menu{
 margin-top: 20px;
 display: flex;
 justify-content: center;

}

.buttons{
  display: flex;
   gap: 2rem;
  
}

.buttons button{

  padding: 0.5rem;

  border-radius: 10px;
  border:none;

}

.buttons button:hover{
  cursor: pointer;
  background-color: orangered;


}

.product-container{

  margin-top: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;


}

.cards{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
 
}

 
.product-card {
 width: 250px;
  padding: 10px; 
  object-fit: cover;
  position: relative;
 
  max-width: 100%;
 
}

.product-card img{
  width: 300px;
  height: 300px;
  opacity: 0.6;
  border-radius: 30px;
 background-position:center;
 
}

.product-card img:hover{

  opacity: 1;
  cursor: pointer;
}

.price{


  position: absolute;
  top: 40%;
  left: 50%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.721);
  border-radius: 15px;
  color: white;



}

.product-title{

  background-color: rgba(0, 0, 0, 0.721);
  border-radius: 20px;
  padding: 1rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  /* visibility: hidden; */
  opacity: 0;


 
}

.product-card:hover .product-title{
  opacity: 1;
  animation-name: over ;
  animation-duration: 0.3s;
}

@keyframes over{

  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }

}















